/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/06/2019, 20:40:07
    Author     : Aluno
*/

*{
   margin:  0px;
   padding: 0px;
   border:  0px;
}

html{
   margin:  5px;
   padding: 5px;
   
   background-color: #ddd;
   border: 2px solid #fff;
   
   height: 94%;
}

body{
   margin:  5px;
   padding: 5px;
   
   background-color: #faa;
   border: 2px solid #f00;
   
   height: 94%;
}

div{
   margin:  10px auto;
   padding: 5px;
   
   background-color: #afa;
   border: 2px solid #0f0;
   
   width: 90%;
   height: 90%;
   text-align: center;
}

h3{
   background-color: #fff;
   font: italic bold 16px/30px Georgia, serif;
}

.inner-div{
   margin:  10px 0;
   padding: 0px;
   
   background-color: #585;
   border: 4px outset #bbb;
   
   width: 48%;
   height: 80%;
   text-align: center;
}

.left-div{
   float: left;   
}

.right-div{
   float: right;
}

#divLeft{   
   background-image: url(../media/images/HTML5_CSS3.png);
   background-repeat: no-repeat;
   /*background-position: 80px 120px;*/
   /*background-attachment: fixed;*/
   
   background-size: contain; 
   border-radius: 25px;
}

#divRight{
   overflow-y: auto; 
}
article{
   padding: 10px;
}

article p{
   font-size: 12px;
   text-align: justify;
   margin: 10px 5px;
}


article h5{
   text-shadow: 2px 2px 3px #CCC;
}

article li{
   text-align: justify;
   margin: 15px;
   
   font: italic 10px/14px Georgia, serif;
   
   list-style-image: url(../media/images/list-checkmark.png);
}

span{
   font-weight: bold;
}

.underline{
   font-weight: normal;
   text-decoration: underline;
}

.bold-yellow{
   font-weight: bolder;
   color: yellow;
}
