/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/06/2019, 20:40:07
    Author     : Aluno
*/
@font-face {
   font-family: IndieFlower_teste;
   src: url('../media/fonts/IndieFlower.ttf');
}

*{
   margin:  0px;
   padding: 0px;
   border:  0px;
}

html{
   margin:  5px;
   padding: 5px;
   
   background-color: #ddd;
   border: 2px solid #fff;
   
   /*height: 94%;*/
}

body{
   margin:  5px;
   padding: 5px;
   
   background-color: #faa;
   border: 2px solid #f00;
   
   /*height: 94%;*/
}

div{
   margin:  10px auto;
   padding: 5px;
   
   background-color: #afa;
   border: 2px solid #0f0;
   
   width: 90%;
   /*height: 90%;*/
   text-align: center;
}

h3{
   background-color: #fff;
   font: italic bold 16px/30px Georgia, serif;
}

.inner-div{
   margin:  10px 0;
   padding: 0px;
   
   background-color: #585;
   border: 4px outset #bbb;
   
   width: 48%;
   /*height: 80%;*/
   text-align: center;
   
   box-shadow: 5px 5px 5px #383;
   
   transition: all 3s ease;
}
.inner-div:hover{   
   background-color: #858;
   border: 4px inset #000;
      
   box-shadow: 5px 5px 5px #838;
}

.left-div{
   float: left;
}

.right-div{
   float: right;
}

#divLeft{   
   background-image: url(../media/images/HTML5_CSS3.png);   
   background-repeat: no-repeat;
   /*background-position: 80px 120px;*/
   /*background-attachment: fixed;*/
   
   background-size: contain; 
   border-radius: 25px;
}

#divRight{
   overflow-y: auto; 
   background-image: radial-gradient(yellow, green, blue);
}
article{
   padding: 10px;
}

article p{
   font-family: IndieFlower_teste;
   font-size: 12px;
   text-align: justify;
   margin: 10px 5px;
}


article h5{
   font-family: IndieFlower_teste;
   font-size: 16px;
   text-shadow: 2px 2px 3px #CCC;
}

article li{
   text-align: justify;
   margin: 15px;
   
   /*font: italic 10px/14px Georgia, serif;*/
   font-family:  'Shadows Into Light', cursive;
   
   list-style-image: url(../media/images/list-checkmark.png);
}

span{
   font-weight: bold;
}

.underline{
   font-weight: normal;
   text-decoration: underline;
}

.bold-yellow{
   font-weight: bolder;
   color: yellow;
}

#divInnerLeft{
   position:relative;
   top: 10%;
   /*height:80%;*/
   width:80%;
   margin:auto;
   opacity: 0.0;
}

#aTest{
   color: yellow;
   position:relative;
   top:20%;
   width:60%;
   margin:auto;
}

h1, h2, h3, h4 {
  voice-family: male;
  richness: 80;
  cue-before: url("beep.au")
}